openapi: "3.1.0"

info:
  title: Kleff Platform API
  version: "1.0.0"
  description: |
    The Kleff Platform API is the control plane for the Kleff hosting platform.
    It accepts user and admin intent, enforces authz policies, persists desired
    state, and coordinates with game-server daemons.

servers:
  - url: https://api.kleff.io/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local development

tags:
  - name: identity
    description: User identity and authentication
  - name: organizations
    description: Organization management and membership
  - name: deployments
    description: Game server deployment operations
  - name: nodes
    description: Compute node inventory
  - name: billing
    description: Subscriptions, invoices, and usage
  - name: usage
    description: Resource usage metering
  - name: audit
    description: Audit event log
  - name: admin
    description: Internal operator endpoints (staff only)

paths:
  /identity/me:
    get:
      operationId: getMe
      summary: Get current user
      tags: [identity]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: The authenticated user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /organizations:
    get:
      operationId: listOrganizations
      summary: List organizations for the current user
      tags: [organizations]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: List of organizations
    post:
      operationId: createOrganization
      summary: Create a new organization
      tags: [organizations]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganizationRequest"
      responses:
        "201":
          description: Created

  /deployments:
    get:
      operationId: listDeployments
      summary: List deployments for the organization
      tags: [deployments]
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/GameServerID"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Paginated deployment list
    post:
      operationId: createDeployment
      summary: Create a new deployment
      tags: [deployments]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDeploymentRequest"
      responses:
        "201":
          description: Deployment created

  /billing/subscription:
    get:
      operationId: getSubscription
      summary: Get the current organization subscription
      tags: [billing]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Subscription details

  /billing/invoices:
    get:
      operationId: listInvoices
      summary: List invoices for the organization
      tags: [billing]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Invoice list

  /audit/events:
    get:
      operationId: listAuditEvents
      summary: List audit events for the organization
      tags: [audit]
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Paginated audit event list

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    GameServerID:
      name: gameServerId
      in: query
      schema:
        type: string
        format: uuid

  schemas:
    ErrorResponse:
      type: object
      required: [error, code]
      properties:
        error:
          type: string
        code:
          type: string
        details:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

    User:
      type: object
      required: [id, email, displayName, role, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        displayName:
          type: string
        avatarUrl:
          type: string
          format: uri
        role:
          type: string
          enum: [owner, admin, member, billing, viewer]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateOrganizationRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 64

    CreateDeploymentRequest:
      type: object
      required: [gameServerId, version]
      properties:
        gameServerId:
          type: string
          format: uuid
        version:
          type: string
          description: Image tag or version string to deploy
